# Miscellaneous
*.class
*.as
*.jar
*.lock
*.log
*.pyc
*.swp
.DS_Store
.atom/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/Flutter/Generated.xcconfig
/ios/Flutter/flutter_export_environment.sh
/ios/Flutter/.last_build_id
/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/ios/Runner.xcworkspace/xcuserdata/

# Build artifacts
build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json